header {
	background-color: lightblue;
	width: 100%;
}

footer {
	background-color: lightblue;
	position: sticky;
	left: 0;
    bottom: 0;
    width: 100%;
}

#navbarTogglerDemo01 {
	text-align: center;
}

#menuRegistro {
	background-color: #ffffe6;
	left: 0;
	position: fixed;
	z-index: 1;
	/*position: fixed;
	margin-top: 8%;*/
}

#menuRegistro-1 {
	background-color: #ffa366;
}

#tarjetas {
	background-color: #e6ffe6;
	/*
	max-height: 500px;
	max-width: 100%;
	overflow-y: scroll;
	*/
	/*margin-left:33.33%;
	margin-top: 8%;*/
}

#vacio {
	background-color: #ffe6f7;
	/*margin-top: 8%;*/
}

#imagenUsuario {
	width: 100%;
	height: 100px;
}
.carousel-item img {
	width: 100%;
	height: 300px;
}

/*
.card-block img{
	width: 100px;
	height: 100px;
	position: relative;
	right: -20px;
}
*/

/*
.card img{
	width: 300px;
	height: 300px;
}*/

.imagenCard{
	width: 100%;
	height: 200px;
}
