doctype

html
	// include ./head.jade
	link(href='/css/home.css', rel='stylesheet')

	body

		div
			p Primer parrafo

			p
				|Anita lava la tina, anita lava la tina, anita lava la tina
				br
				|Compadre cómpreme un coco, compadre no compro coco, porque como poco coco como, poco coco compro

			p.
				Cuando cuentes cuentos Cuenta cuantos cuentos cuentas <i>Por que</i> si no cuentas cuantos cuentos cuentas Nunca sabrás cuantos cuentos 

			ul 
				li#bbp
					a(href='#') Barry
				li#bbp
					a(href='#') Leny
				li#bbp
					a(href='#') Spark